body {
	margin: 0;
	padding: 0;
	font-family: helvetica, arial;
	font-size: 13px;
}
.box_dk {
	background: #fff;
	border: 1px solid #e9e9e9;
	color: #7b7b7b;
	font-size: 13px;
	line-height: 120%;
	border-radius: 3px;
	overflow: hidden;
}
.box_dk .title {
	background: #949393;
	height: 35px;
	overflow: hidden;
}
.box_dk h3 {
	font-weight: bold !important;
	color: #fff;
	padding: 7px 10px;
	float: left;
	font-size: 18px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.box_dk .subscribe {
	float: right;
	background: #6c6a6a;
	color: #fff;
	text-decoration: none;
}
.box_dk .subscribe span {
	padding: 10px 15px;
	display: inline-block;
	font-weight: bold;
}
.box_dk .subscribe .num {
	background: url(../images/kom_subscribe.png) left center no-repeat;
	font-size: 16px;
	padding: 10px;
	padding-left: 15px;
}
.box_dk .subscribe:hover {
	opacity: 0.8;
}
.text_komentar {
	padding-right: 10px;
}
.box_dk textarea {
	width: 100%;
	border: 0;
	font-family: helvetica, arial;
	font-size: 16px;
	background: #fff;
	color: #bebebe;
	padding: 10px;
	height: 64px;
}
.dk_bot {
	background: #ededed;
	padding: 3px;
}
.dk_bot label {
	display: inline-block;
	width: 50px;
	padding: 5px;
}
.dk_bot label input {
	float: left;
	margin-top: 6px;
	margin-right: 5px;
}
.dk_bot .btn_dk {
	border: 1px solid #cccaca;
	padding: 8px 6px;
	border-radius: 3px;
	background: #d9d9d9;
	color: #4c4c4c;
	font-weight: bold;
	font-family: helvetica, arial;
	font-size: 13px;
	cursor: pointer;
}
.dk_bot .btn_dk:hover {
	background: #cccaca;
}
.kom-sponsor {
	color: red;
}
.dk_count {
	float: left;
	margin-right: 0px;
	font-size: 15px;
	color: #676767;
	padding: 10px 5px;
	border-right: 1px dotted #ccc;
}
.cldark {
	background-color: #313131 !important;
}
.subsred {
	background-color: #bc0b01 !important;
}


.comment_list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.box_dk .user_pic,
.list_dk .user_pic {
	width: 60px;
	height: 60px;
	float: left;
	text-align: center;
	overflow: hidden;
	border-radius: 3px;
	border:2px solid #d5d5d5;
}
.box_dk .user_pic img,
.list_dk .user_pic img {
	height: 100%;
}
.list_dk {
	padding: 15px 0 10px 0;
	border-bottom: 1px solid #ededed;
}
.list_dk_sub {
	margin-left: 70px;
	border-bottom: 1px dotted #ededed;
}
.list_dk .user_pic {
	width: 50px;
	height: 50px;
}
.list_dk_sub .user_pic {
	width: 40px;
	height: 40px;
}
.list_dk .list_dk_text {
	float: right;
	width: calc(100% - 65px);
	color: #afafaf;
}
.list_dk_sub .list_dk_text {
	width: calc(100% - 55px);
}
.list_dk .list_dk_text .dk_name {
	color: #043d9d;
}
.list_dk .dk_date {
	font-size: 11px;
}
.list_dk .dk_komen {
	clear: both;
	padding-top: 5px;
	color: #555555;
	font-size: 14px;
	padding-bottom: 10px;
	line-height: 130%;
}
.list_dk .dk_action a,
.list_dk .dk_action .dk_share span {
	font-weight: bold;
	display: inline-block;
	margin: 0 10px 0 0;
	color: #2a2a2a;
	text-decoration: none;
	font-size: 12px;
	border-bottom: 2px solid #fff;
	cursor: pointer;
	padding-bottom: 5px;
}
.list_dk .dk_action .count {
	background: red;
	color: #fff;
	display: inline-block;
	border-radius: 3px;
	padding: 1px 5px;
	margin-right: 5px;
}
.list_dk .dk_action a:hover {
	opacity: 0.6;
}
.list_dk .dk_action .dk_flag {
	float: right;
	color: #6d6d6d;
}
.list_dk .dk_action .share_next {
	position: absolute;
	visibility: hidden;
}
.list_dk .dk_action .share_next a {
	margin-right: 1px;
}
.list_dk .dk_action .dk_share:hover .share_next {
	visibility: visible;
	position: absolute;
}

.list_dk:hover .dk_flag {
	display: block;
}
.list_dk .buka {
	border-bottom: 2px solid #2a2a2a !important;
}
.box_dk_balas {
	background: none;
	border:0;
	display: block;
	border: 1px solid #e9e9e9;
	color: #7b7b7b;
	font-size: 13px;
	line-height: 120%;
	border-radius: 3px;
	margin-top: 5px;
}
.box_dk_balas .user_pic {
	height: 40px;
	width: 40px;
}
.box_dk_balas textarea {
	width: 100%;
}
.dk_page {
	text-align: center;
	border-bottom: 2px solid #e8e9ea;
	padding-bottom: 20px;
}
.dk_page a {
	display: inline-block;
	padding: 5px 0;
	text-align: center;
	min-width: 25px;
	color: #373737;
	background: #f6f6f6;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}
.dk_page a.pn {
	padding: 5px 10px;
}
.dk_page a:hover,
.dk_page a.selected {
	background: #e0e0e0;
	border-color: #b3b3b3;
}
.dk_page a.disabled {
	background: #f6f6f6;
	border-color: #e0e0e0;
	color: #bfbfbf;
}

.share_elm {
	display: none;
	position: absolute;
	padding-left: 10px;
	border: none !important;
}
.selm {
	background-image: url(../images/shares.png);
	background-position: 0 -32px;
	width: 18px;
	height: 18px;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
}
.se_fb {
	background-position: -18px -32px !important;
}
.share_elm a:hover {
	opacity: 0.7;
	cursor: pointer;
}
.bx_nt {
	padding: 5px 8px;
	border: 1px solid #dbe465;
	background: #fffed8;
	font-size: 12px;
	color: #4d4d4d;
	margin: 5px 0;
}
.sortby {
	padding-top: 15px;
	border-bottom: 1px solid #ccc;
	height: 25px;
	font-size: 15px;
	color: #535353;
}
.sortby a {
	color: #a8a8a8;
	display: inline-block;
	padding-left: 20px;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
.sortby a:hover,
.sortby a.selected {
	color: #043d9d;
}

.dk_page .red_a {
	padding: 7px 18px;
	font-size: 12px;
	line-height: normal;
	color: #fff;
	background: #F00000;
	text-transform: uppercase;
	display: inline-block;
}

/*S:BOX POP UP SHARE KOMENTAR*/
.share_komentar {
	background: #fff;
	border-radius: 5px;
}
#header_share {
	background:#f0f0f0 !important;
	border-bottom:1px solid #dddddd;
	padding:10px 15px;
	height:20px;
	text-align:left;
}
#header_share h5 {
	float: left;
	font-size: 15px;
}
.dc_close {
	float:right;
	cursor:pointer;
	width: 20px;
	height: 20px;
}
.dc_close img {
	height: 100%;
}
.dc_close:hover {
	background:#D9D9D9;
}
.form_share {
	padding: 10px;
}
.form_share textarea {
	width: 93%;
	padding: 10px;
	background: #fff;
	border:2px solid #d5d5d5;
	height: 64px;
	font-family: arial;
	font-size: 15px;
	color : #5f5f5f;
	border-radius: 3px;
}
.permalink {
	margin: 10px;
	padding: 8px;
	background: #f2f2f2;
	border: 1px solid #e6e6e6;
	font-weight: bold;
}
/*E:BOX POP UP SHARE KOMENTAR*/

/* additional */
.info_loader {
	display: none;
}
.com_loader {
	margin-top: 16px;
	margin-right: 6px;
}
.com_loader2 {
	margin-top: 13px;
	margin-right: 6px;
}
.nhclick {
	cursor: pointer;
	color: #043d9d;
}
.nhclick:hover {
	opacity : 0.8;
}
.user_pic_bordered {
	border: solid 3px #96EE5C !important;
}

/** loading css*/
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
/** end of loading css */

/* replace from detik_frame css */
h3 {
	line-height: 22px !important;
	font-weight: normal !important;
	margin: 0 !important;
}
.clearfix {
	clear: both !important;
}
.fr {
	float: right !important;
}

.pt20 {
	padding-top: 20px !important;
}


/* auto mention */
.typeahead {
  z-index: 1051;
  margin-top: 2px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}