@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Aplikasi ini dikembangkan oleh :
  <ul>
    <li>Adrian Mulyana Nugraha(13515075)</li>
    <li>Vincent Hendryanto Halim (13515089)</li>
    <li>Mikhael Artur Darmakesuma(13515099)</li>  
  </ul>

  Saat ini aplikasi ini baru dapat mensupport 3 portal berita, yaitu Tempo, Detik, dan Vivanews.
</p>
